body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  color: #fffbfb;
}

header {
  background-color: #007acc;
  color: white;
  text-align: center;
  padding: 40px 0;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.container {
  width: 80%;
  margin: 20px auto;
  background: rgb(23, 21, 21);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

h2 {
  color: #007acc;
  border-bottom: 2px solid #007acc;
  padding-bottom: 5px;
}

ul {
  list-style-type: square;
  margin-left: 25px;
}

a {
  color: #007acc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 15px 0;
  margin-top: 20px;
}